.warp {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    padding: 50px
}
.text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    padding-left: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.head {
    font-size: 20px;
    font-weight: bold
}
.para {
    color: gray
}